@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  max-width: 800px;
  margin: 0 auto;
}

.menu{
  display: flex;
  justify-content: center;
}

.menu .btn{
  width: 200px;

}

input,
button {
  outline: none;
}

.btn.active{
  background: #35c300;
  color: #fff;
}

.filters, .searchBlock{
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.btn{
  border: 0;
  border-radius: 8px;
  color: #fff;
  background: #000;
  padding: 5px 10px;
  font-size: 16px;
}

.search{
  width: 50%;
  height: 35px;
  font-size: 18px;
  border-radius: 8px;
  padding: 0 10px;

}

.card {
    height: 300px;
    width: 400px;
    border-radius: 5px;
}
.card:nth-child(odd) {
    background-color: blue;
}
.card:nth-child(even) {
    background-color: rgb(0, 183, 255);
}
.slider-container {
    width: 80%;
    height: 150px;
    position: relative;
    overflow: hidden;
}
.inner-slider {
    width: 150%;
    display: flex;
    gap: 10px;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
}