@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
    -webkit-tap-highlight-color: transparent; /* Для Safari */
    -webkit-touch-callout: none; /* Для Safari */
    -webkit-user-select: none; /* Для Chrome, Safari, Opera */
    -khtml-user-select: none; /* Для Konqueror */
    -moz-user-select: none; /* Для Firefox */
    -ms-user-select: none; /* Для Internet Explorer и Edge */
    user-select: none; /* Общее свойство */
}



body{
  max-width: 800px;
  margin: 0 auto;
}

.menu{
  display: flex;
  justify-content: center;
}

.menu .btn{
  width: 200px;
	cursor: pointer;
}

input,
button {
  outline: none;
}

.btn.activate{
  background: #35c300;
  color: #fff;
}

.filters, .searchBlock{
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.btn{
  border: 0;
  border-radius: 8px;
  color: #fff;
  background: #000;
  padding: 5px 10px;
  font-size: 16px;
}

.close{
	background: #fff;
	color: #000;
	cursor: pointer;
}

.search{
  width: 50%;
  height: 35px;
  font-size: 18px;
  border-radius: 8px;
  padding: 0 10px;

}

.disabled{
	background: rgba(0,0,0,0.7);
}

.count{
	display: none;
}

ul {
	padding: 0;
}

li {
	list-style: none;
}

.wrapper {
	position: relative;
}

wrapper:before,
	wrapper:after {
		position: absolute;
		top: 0;
		z-index: 1;

		content: "";
		display: block;
		width: 20px;
		height: 100%;
	}

wrapper:before {
		left: 0;
		background: linear-gradient(90deg, #222, transparent);
	}

.wrapper:after {
		right: 0;
		background: linear-gradient(-90deg, #222, transparent);
	}

.items {
	position: relative;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	font-size: 0;
	cursor: pointer;
}

.items .active {
		cursor: grab;
	}

.item {
	display: inline-block;
	margin-left: 20px;
	user-select: none;

	background: tomato;
	width: 50%;
	height: 130px;
	color: #222;
	font-size: 16px;
	white-space: wrap;
}

.item:last-child {
	margin-right: 20px;
}

.window{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	display: none;
  	align-items: center;
	justify-content: center;
}

.modal{
	background: #fff;
	height: 70%;
	width: 25%;
	padding: 10px;
	border: 0;
	border-radius: 18px;
	position: relative;
}

.modal .header{
	text-align: right;
}

.modal .footer{
	position: absolute;
	bottom: 10px;
	left: 10px;
	right: 10px;
}

.modal .footer .btn{
	width: 100%;
	padding: 10px;
}

.body ul{
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
}

.body ul li .btn {
	margin-right: 10px;
}

@media screen and (min-width: 500px) {

	.item {
		width: 33%;
	}
}

@media screen and (min-width: 800px) {

	.item {
		width: 25%;
	}
}

@media screen and (min-width: 1200px) {

	.wrapper {
		margin-left: -20px;
	}

	.item {
		width: 20%;
	}
}