<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/style.css" />
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
{#    <script src="https://cdn.tailwindcss.com"></script>#}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script>
      var host = "{{host}}";
      const WebApp = window.Telegram.WebApp;

{#      tailwind.config = {#}
{#        theme: {#}
{#          extend: {#}
{#            colors: {#}
{#              clifford: "#da373d",#}
{#            },#}
{#          },#}
{#        },#}
{#        plugins: [#}
{#          require('@tailwindcss/aspect-ratio'),#}
{#        ],#}
{#      };#}
    </script>
    <title>IntCoin</title>
  </head>
  <body class="bg-white">
    <button class="btn">click</button>
    <div class="tg_id"></div>

    <p>Фильтры</p>

    <button class="btn all">Все</button>
    <button class="btn clothes">одежда</button>
    <button class="btn travels">Путешествия</button>
    <br />
    <input type="text" placeholder="Поиск по имени" class="search" />
    <div class="goods">
      <ul class="goods_list"></ul>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-01.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Launch demo modal
        </button>
      </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        <div class="modal-body">
        ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button>
        </div>
      </div>
    </div>
  </div>
    <!--Toast-->
    <button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="..." class="rounded me-2" alt="...">
      <strong class="me-auto">Bootstrap</strong>
      <small>11 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
  </div>
</div>
    <script>
      document.querySelector(".btn-close").addEventListener("click", (e) => {
        console.log(e)
      })
    </script>
    <script src="static/js/listeners.js"></script>
    <script src="static/js/tg.js"></script>
  </body>
</html>
