<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js" integrity="sha512-emSwuKiMyYedRwflbZB2ghzX8Cw8fmNVgZ6yQNNXXagFzFOaQmbvQ1vmDkddHjm5AITcBIZfC7k4ShQSjgPAmQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script>
      var host = "{{host}}";
      const WebApp = window.Telegram.WebApp;
      const user_id = WebApp.initDataUnsafe.user.id;
    </script>
    <title>IntCoin</title>
  </head>
  <body>
    <div class="user">
      <img src="" alt="">
      <span class="user_id"></span>
    </div>
    <div class="menu">
      <a href="/?activate=shop" btn shop activate">Магазин</a>
      <a href="/?activate=tasks" class="btn tasks">Задачи</a>
    </div>
    <div class="searchBlock">
      <input type="text" placeholder="Поиск по имени" class="search" />
    </div>

      {% include 'carusel.html' %}

    <script src="static/js/script.js"></script>
    <script src="static/js/listeners.js"></script>
    <script src="static/js/tg.js"></script>
  </body>
</html>
