<!--<svg width="26" height="26" xmlns="http://www.w3.org/2000/svg" style="background-color:transparent">-->
<!--  <circle cx="13" cy="13" r="10" fill="black" />-->
<!--  <text x="9" y="17" font-family="Arial" font-size="12" fill="white">|</text>-->
<!--  <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 30 30" fill="none" x="12" y="7">-->
<!--    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.285 2.55726L1.54509 3.28538 0 4.01351 0 0 1.54509 0.728126 3.285 2.55726Z" fill="#45AE31"/>-->
<!--  </svg>-->
<!--</svg>-->
<div style="transform: scale(0.4)">
<svg width="100" height="100" xmlns="http://www.w3.org/2000/svg" style="background-color:transparent">
  <circle cx="50" cy="50" r="40" fill="black" />
  <text x="45" y="60" font-family="Arial" font-size="30" fill="white">|</text>
  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 30 30" fill="none" x="46" y="23">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.57 3.41904L2.77274 5.14141L0 6.86379L0 0L2.77274 1.72238L5.57 3.41904Z" fill="#45AE31"/>
  </svg>
</svg>
</div>