<div class="window">
  <div class="modal">
    <div class="body">
      <img src="" class="cardimg" alt="" style="width: 100%; height:300px; margin-bottom: 20px"/>
      <div style="padding: 0 20px">
      <h3 class="title"></h3>
      <p class="description"></p>
      <p class="cost"></p>
      <ul class="sizes"></ul>
        <button class="btn close" style="display: none">aaa</button>
      <p class="count">В наличии: </p>
    </div>
    <div class="footer">
      <button class="btn buy">Купить</button>
      <button class="btn start">Начать выполнение</button>
    </div>
  </div>
  {% include 'confirmation.html' %}
</div>