<div class="window">
  <div class="modal">
    <div class="header">
      <button class="btn close">&#x2716;</button>
    </div>
    <div class="body">
      <h3 class="title"></h3>
      <p class="description"></p>
      <p class="cost"></p>
      <ul class="sizes"></ul>
      <p class="count">В наличии: </p>
    </div>
    <div class="footer">
      <button class="btn buy">Купить</button>
      <button class="btn start">Начать выполнение</button>
    </div>
  </div>
  {% include 'confirmation.html' %}
</div>

